<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions 


Con este cuaderno de Python, podrá:

1. Comprender el DataSet de Spacex
2. Cargue el conjunto de datos en la tabla correspondiente de una base de datos Db2
3. Ejecutar consultas SQL para responder a las preguntas de asignación

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

## Descripción general del conjunto de datos

SpaceX ha atraído la atención mundial por una serie de hitos históricos. 

Es la única empresa privada que ha devuelto una nave espacial de la órbita terrestre baja, lo que logró por primera vez en diciembre de 2010.
SpaceX anuncia lanzamientos de cohetes Falcon 9 en su sitio web con un costo de 62 millones de dólares, mientras que otros proveedores cuestan más de 165 millones de dólares cada uno, gran parte de los ahorros se deben a que Space X puede reutilizar la primera etapa. 

Por lo tanto, si podemos determinar si la primera etapa aterrizará, podemos determinar el costo de un lanzamiento. 

Esta información se puede utilizar si una empresa alternativa quiere presentar una oferta contra SpaceX para el lanzamiento de un cohete.

Este conjunto de datos incluye un registro de cada carga útil transportada durante una misión de SpaceX al espacio exterior.

 Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

### Descargar los conjuntos de datos

Esta asignación requiere que cargue el conjunto de datos de spacex.

En muchos casos, el conjunto de datos que se va a analizar está disponible como un archivo . CSV (valores separados por comas), tal vez en Internet. Haga clic en el siguiente enlace para descargar y guardar el conjunto de datos (. Archivo CSV):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [39]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB 131.3 kB/s eta 0:00:46
     ---------------------------------------- 0.0/6.0 MB 131.3 kB/s eta 0:00:46
     ---------------------------------------- 0.0/6.0 MB 131.3 kB/s eta 0:00:46
     ---------------------------------------- 0.0/6.0 MB 131.3 kB/s eta 0:00:46
     ---------------------------------------- 0.0/6.0 MB 131.3 kB/s eta 0:00:46
     ---------------------------------------- 0.0/6.0 MB 131.3 kB/s eta 0:00:46
     ---------------------------------------- 0.0/6.0 MB 131.3 kB/s eta 0:00:46
     ---------------------------------------- 0.0/6.0 MB 131.3 kB/s eta 0:00:46
     ---------------------------------------- 0.0/6.0 MB 131.3 kB/s eta 0:00:46
     ---------------------------------------- 0.0/6.0 MB 131.3 kB/s eta 0:00:46
     ---------------------------------------- 0.0/6.0 MB 131.3 kB/s eta 0:00:46
     ---------------------------------------- 0.0/6.0 MB 131.3 kB/s eta 0:00:46
     ---------------------------------------- 0.1/6.0 MB 78.0 kB/s eta 0:01:16
     ---------------------------------------- 0.1/6.0 MB 78.0 kB/s eta 0:01:16
     ---------------------------------------- 0.1/6.0 MB 78.0 kB/s eta 0:01:16
      --------------------------------------- 0.1/6.0 MB 93.7 kB/s eta 0:01:03
      --------------------------------------- 0.1/6.0 MB 93.7 kB/s eta 0:01:03
      --------------------------------------- 0.1/6.0 MB 93.6 kB/s eta 0:01:03
      --------------------------------------- 0.1/6.0 MB 111.2 kB/s eta 0:00:53
     - -------------------------------------- 0.2/6.0 MB 156.1 kB/s eta 0:00:38
     -- ------------------------------------- 0.3/6.0 MB 307.9 kB/s eta 0:00:19
     --- ------------------------------------ 0.5/6.0 MB 456.0 kB/s eta 0:00:12
     ---- ----------------------------------- 0.7/6.0 MB 600.7 kB/s eta 0:00:09
     ------ --------------------------------- 0.9/6.0 MB 769.5 kB/s eta 0:00:07
     ------- -------------------------------- 1.1/6.0 MB 933.2 kB/s eta 0:00:06
     --------- ------------------------------ 1.4/6.0 MB 1.1 MB/s eta 0:00:05
     ----------- ---------------------------- 1.7/6.0 MB 1.3 MB/s eta 0:00:04
     ------------- -------------------------- 2.0/6.0 MB 1.4 MB/s eta 0:00:03
     --------------- ------------------------ 2.3/6.0 MB 1.6 MB/s eta 0:00:03
     ----------------- ---------------------- 2.6/6.0 MB 1.8 MB/s eta 0:00:02
     ------------------- -------------------- 3.0/6.0 MB 2.0 MB/s eta 0:00:02
     ---------------------- ----------------- 3.3/6.0 MB 2.2 MB/s eta 0:00:02
     ------------------------ --------------- 3.7/6.0 MB 2.3 MB/s eta 0:00:01
     -------------------------- ------------- 4.0/6.0 MB 2.4 MB/s eta 0:00:01
     ---------------------------- ----------- 4.2/6.0 MB 2.5 MB/s eta 0:00:01
     ------------------------------ --------- 4.5/6.0 MB 2.6 MB/s eta 0:00:01
     -------------------------------- ------- 4.8/6.0 MB 2.7 MB/s eta 0:00:01
     ---------------------------------- ----- 5.1/6.0 MB 2.8 MB/s eta 0:00:01
     ------------------------------------- -- 5.5/6.0 MB 2.9 MB/s eta 0:00:01
     ---------------------------------------  6.0/6.0 MB 3.1 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 3.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp312-cp312-win_amd64.whl size=1142949 sha256=95737fc7ca022c5a5130f4f44195bbeca76c8a3ce28295d7f78ca412bab0e575
  Stored in directory: c:\users\belen\appdata\local\pip\cache\wheels\b3\1c\42\0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.30
    Uninstalling SQLAlchemy-2.0.30:
      Successfully uninstalled SQLAlchemy-2.0.30
Successfully installed sqlalchemy-1.3.9

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\belen\anaconda3\Lib\site-packages\~qlalchemy'.
  You can safely remove it manually.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

 Connect to the database

Let us first load the SQL extension and establish a connection with the database

### Conéctese a la base de datos

Primero carguemos la extensión SQL y establezcamos una conexión con la base de datos

In [40]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\belen\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\belen\anaconda3\lib\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\belen\anaconda3\lib\site-packages (from ipython-sql) (8.25.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.35-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: sqlparse in c:\users\belen\anaconda3\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\belen\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\belen\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\belen\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\belen\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\belen\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\belen\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\belen\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\belen\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\belen\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\belen\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\belen\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\belen\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\belen\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\belen\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\belen\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\belen\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\belen\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading SQLAlchemy-2.0.35-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 825.8 kB/s eta 0:00:03
   - -------------------------------------- 0.1/2.1 MB 825.8 kB/s eta 0:00:03
   - -------------------------------------- 0.1/2.1 MB 438.9 kB/s eta 0:00:05
   - -------------------------------------- 0.1/2.1 MB 438.9 kB/s eta 0:00:05
   - -------------------------------------- 0.1/2.1 MB 350.1 kB/s eta 0:00:06
   -- ------------------------------------- 0.1/2.1 MB 380.5 kB/s eta 0:00:06
   ---- ----------------------------------- 0.2/2.1 MB 656.8 kB/s eta 0:00:03
   -------- ------------------------------- 0.4/2.1 MB 1.1 MB/s eta 0:00:02
   ----------- ---------------------------- 0.6/2.1 MB 1.4 MB/s eta 0:00:02
   --------------- ------------------------ 0.8/2.1 MB 1.7 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 2.0 MB/s eta 0:00:01
   ------------------------- -------------- 1.4/2.1 MB 2.3 MB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.1 MB 2.5 MB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 2.8 MB/s eta 0:00:00
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.35

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [43]:
!pip install -q pandas

In [3]:
%sql sqlite:///my_data1.db

In [4]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [46]:
print(df.columns)
print(df.head())

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')
         Date Time (UTC) Booster_Version  Launch_Site  \
0  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

**Note:This below code is added to remove blank rows from table**

**Nota: Este código a continuación se agrega para eliminar filas en blanco de la tabla **

In [5]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [6]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

 Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

## Tareas

Ahora escriba y ejecute consultas SQL para resolver las tareas de asignación.

**Nota: Si los nombres de las columnas están en mayúsculas y minúsculas, escríbalos entre comillas dobles
   Por ejemplo, "Landing_Outcome"**

### Tarea 1

##### Mostrar los nombres de los sitios de lanzamiento únicos en la misión espacial

In [7]:

# Consulta SQL para obtener los sitios de lanzamiento únicos
cur.execute('''SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE;''')

# Recuperar los resultados
launch_sites = cur.fetchall()

# Mostrar los resultados
for site in launch_sites:
    print(site[0])

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

##### Mostrar 5 registros donde los sitios de lanzamiento comienzan con la cadena 'CCA'

In [8]:
# Consulta SQL para obtener 5 registros donde los sitios de lanzamiento comienzan con 'CCA'
cur.execute('''SELECT * FROM SPACEXTABLE WHERE "Launch_Site" LIKE 'CCA%' LIMIT 5;''')

# Recuperar los resultados
records = cur.fetchall()

# Mostrar los resultados
for record in records:
    print(record)

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

##### Muestra la masa total de la carga útil transportada por los propulsores lanzados por la NASA (CRS)

In [9]:
# Consulta SQL para sumar la masa total de las cargas útiles de las misiones "NASA (CRS)"
cur.execute('''
    SELECT SUM("PAYLOAD_MASS__KG_") 
    FROM SPACEXTABLE 
    WHERE "Customer" LIKE '%NASA (CRS)%';
''')

# Recuperar el resultado
total_mass = cur.fetchone()[0]

# Mostrar el resultado
print(f"Masa total de la carga útil transportada por los propulsores lanzados por la NASA (CRS): {total_mass} kg")

Masa total de la carga útil transportada por los propulsores lanzados por la NASA (CRS): 48213 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

##### Muestra la masa media de la carga útil transportada por la versión de refuerzo F9 v1.1

In [10]:
# Mostrar los valores únicos en la columna 'Landing_Outcome'
print(df['Landing_Outcome'].unique())

['Failure (parachute)' 'No attempt' 'Uncontrolled (ocean)'
 'Controlled (ocean)' 'Failure (drone ship)' 'Precluded (drone ship)'
 'Success (ground pad)' 'Success (drone ship)' 'Success' 'Failure'
 'No attempt ']

In [53]:
# Consulta SQL para obtener la masa media de la carga útil de la versión de refuerzo "F9 v1.1"
cur.execute('''
    SELECT AVG("PAYLOAD_MASS__KG_") 
    FROM SPACEXTABLE 
    WHERE "Booster_Version" = 'F9 v1.1';
''')

# Recuperar el resultado
average_mass = cur.fetchone()[0]

# Mostrar el resultado
print(f"Masa media de la carga útil transportada por la versión de refuerzo F9 v1.1: {average_mass} kg")

Masa media de la carga útil transportada por la versión de refuerzo F9 v1.1: 2928.4 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

##### Enumere la fecha en que se logró el primer resultado de aterrizaje exitoso en la plataforma de tierra.

_Hint:Usar function_ mínimo

In [11]:
# Consulta SQL para obtener la fecha del primer aterrizaje exitoso en la plataforma de tierra (RTLS)
cur.execute('''
    SELECT MIN(Date) 
    FROM SPACEXTABLE 
    WHERE "Landing_Outcome" = 'Success (ground pad)';
''')

# Recuperar el resultado
first_successful_rtls_date = cur.fetchone()[0]

# Mostrar el resultado
print(f"Fecha del primer aterrizaje exitoso en la plataforma de tierra: {first_successful_rtls_date}")

Fecha del primer aterrizaje exitoso en la plataforma de tierra: 2015-12-22

### Task 6
##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000


##### Enumere los nombres de los propulsores que tienen éxito en la nave no tripulada y tienen una masa de carga útil superior a 4000 pero inferior a 6000

In [15]:
cur.execute('''
    SELECT DISTINCT "Booster_Version"
    FROM SPACEXTABLE
    WHERE "Landing_Outcome" IN ('Success (drone ship)', 'Success')
    AND "PAYLOAD_MASS__KG_" > 4000
    AND "PAYLOAD_MASS__KG_" < 6000;
''')
# Recuperar el resultado
nombres_propulsores = cur.fetchall()

# Mostrar el resultado
print(f"Nombres de los propulsores que tienen éxito y tienen una masa de carga útil >4000 pero <6000: {nombres_propulsores}")

Nombres de los propulsores que tienen éxito y tienen una masa de carga útil >4000 pero <6000: [('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',), ('F9 B5 B1046.2',), ('F9 B5 B1047.2',), ('F9 B5 B1048.3',), ('F9 B5 B1051.2 ',), ('F9 B5B1060.1',), ('F9 B5 B1058.2 ',), ('F9 B5B1062.1',)]

### Task 7




##### List the total number of successful and failure mission outcomes

##### Enumere el número total de resultados de misiones exitosas y fallidas

In [24]:
# Obtener los valores únicos de la columna 'Mission_Outcome'
unique_mission_outcomes = df['Mission_Outcome'].unique()

# Mostrar los valores únicos
print(unique_mission_outcomes)

['Success' 'Failure (in flight)' 'Success (payload status unclear)'
 'Success ']

In [19]:
# Ejecutar la consulta SQL para contar los resultados de misiones exitosas y fallidas
cur.execute('''
    SELECT "Mission_Outcome", COUNT(*) AS Total
    FROM SPACEXTABLE
    GROUP BY "Mission_Outcome";
''')

# Recuperar todos los resultados
resultados = cur.fetchall()

# Mostrar el resultado
print("Número total de resultados de misiones exitosas y fallidas:")
for resultado in resultados:
    print(f"{resultado[0]}: {resultado[1]}")

Número total de resultados de misiones exitosas y fallidas:
Failure (in flight): 1
Success: 98
Success : 1
Success (payload status unclear): 1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

##### Enumere los nombres de los booster_versions que han transportado la masa máxima de carga útil. Usar una subconsulta

In [21]:
# Ejecutar la consulta SQL utilizando una subconsulta para encontrar los nombres de los booster_versions
cur.execute('''
    SELECT DISTINCT "Booster_Version"
    FROM SPACEXTABLE
    WHERE "PAYLOAD_MASS__KG_" = (
        SELECT MAX("PAYLOAD_MASS__KG_")
        FROM SPACEXTABLE
    );
''')

# Recuperar todos los resultados
nombres_boosters = cur.fetchall()

# Mostrar el resultado
print("Nombres de las versiones de booster que han transportado la masa máxima de carga útil:")
for booster in nombres_boosters:
    print(booster[0])

Nombres de las versiones de booster que han transportado la masa máxima de carga útil:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

##### Enumere los registros que mostrarán los nombres de los meses, los landing_outcomes de fallas en la nave no tripulada, las versiones de refuerzo launch_site para los meses del año 2015.

**Nota: SQLLite no admite nombres de mes. Por lo tanto, debe usar substr(Date, 6,2) como mes para obtener los meses y substr(Date,0,5)='2015' para el año.**

In [25]:
# Ejecutar la consulta SQL para obtener los registros requeridos
cur.execute('''
    SELECT 
        CASE 
            WHEN substr("Date", 6, 2) = '01' THEN 'January'
            WHEN substr("Date", 6, 2) = '02' THEN 'February'
            WHEN substr("Date", 6, 2) = '03' THEN 'March'
            WHEN substr("Date", 6, 2) = '04' THEN 'April'
            WHEN substr("Date", 6, 2) = '05' THEN 'May'
            WHEN substr("Date", 6, 2) = '06' THEN 'June'
            WHEN substr("Date", 6, 2) = '07' THEN 'July'
            WHEN substr("Date", 6, 2) = '08' THEN 'August'
            WHEN substr("Date", 6, 2) = '09' THEN 'September'
            WHEN substr("Date", 6, 2) = '10' THEN 'October'
            WHEN substr("Date", 6, 2) = '11' THEN 'November'
            WHEN substr("Date", 6, 2) = '12' THEN 'December'
        END AS "Month",
        "Landing_Outcome",
        "Booster_Version",
        "Launch_Site"
    FROM SPACEXTABLE
    WHERE "Landing_Outcome" LIKE 'Failure%'
      AND substr("Date", 0, 5) = '2015';
''')

# Recuperar todos los resultados
resultados = cur.fetchall()

# Mostrar el resultado
print("Registros de fallas en la nave no tripulada para el año 2015:")
for resultado in resultados:
    print(f"Month: {resultado[0]}, Landing Outcome: {resultado[1]}, Booster Version: {resultado[2]}, Launch Site: {resultado[3]}")

Registros de fallas en la nave no tripulada para el año 2015:
Month: January, Landing Outcome: Failure (drone ship), Booster Version: F9 v1.1 B1012, Launch Site: CCAFS LC-40
Month: April, Landing Outcome: Failure (drone ship), Booster Version: F9 v1.1 B1015, Launch Site: CCAFS LC-40

### Task 10


##### Clasifique el recuento de resultados de aterrizaje (como Fracaso (nave no tripulada) o Éxito (plataforma terrestre)) entre la fecha 2010-06-04 y 2017-03-20, en orden descendente.

In [26]:
# Ejecutar la consulta SQL para contar los resultados de aterrizaje en el rango de fechas especificado
cur.execute('''
    SELECT 
        CASE 
            WHEN "Landing_Outcome" IN ('Success (ground pad)', 'Success (drone ship)', 'Success') THEN 'Éxito (plataforma terrestre)'
            WHEN "Landing_Outcome" LIKE 'Failure%' THEN 'Fracaso (nave no tripulada)'
            ELSE 'Otros' 
        END AS "Resultado",
        COUNT(*) AS "Total"
    FROM SPACEXTABLE
    WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY "Resultado"
    ORDER BY "Total" DESC;
''')

# Recuperar todos los resultados
resultados = cur.fetchall()

# Mostrar el resultado
print("Recuento de resultados de aterrizaje entre 2010-06-04 y 2017-03-20:")
for resultado in resultados:
    print(f"Resultado: {resultado[0]}, Total: {resultado[1]}")

Recuento de resultados de aterrizaje entre 2010-06-04 y 2017-03-20:
Resultado: Otros, Total: 16
Resultado: Éxito (plataforma terrestre), Total: 8
Resultado: Fracaso (nave no tripulada), Total: 7

In [27]:
# Cerrar la conexión
con.close()

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>